  <script src="https://kit.fontawesome.com/b76b73e8e8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab|Ruda" />
  <link rel="stylesheet" type="text/css" href="{{ "css/styles.css" | relURL}}" />
  {{- range .Site.Params.Assets.customCSS -}}
    <link rel='stylesheet' href='{{ . | absURL }}'>
  {{- end -}}

  {{ if .Site.Params.favicon }}
  {{ with .Site.Params.favicon.ico }}
  <link rel="icon" type="image/ico" href="{{ . | absURL }}">
  {{ end }}
  {{ with .Site.Params.favicon.png }}
  <link rel="icon" type="image/png" href="{{ . | absURL }}">
  {{ end }}
  {{ end }}

  {{ template "templates/google-adsense-code.html" . }}