{{ define "main" }}

<section id="home">
    <ul>
        {{ range $index, $page := first 10 .Site.RegularPages }}
        {{ if not .Params.menu }}
        <li {{if eq $index 0}}class="first"{{end}}>
            <a href="{{ .Permalink }}" title="{{ .Title }}">
                {{ if .Params.image }}
                {{ with .Params.image }}
                <image src="{{ . | absURL }}"></image>
                {{ end }}
                {{ end }}
                <h1>{{ .Title }}</h1> 
            </a>
            {{ partial "aside" . }}
            <p>{{ .Summary }}</p>
            {{ if .Truncated }}
            <a href="{{ .RelPermalink }}">{{ T "readMore" }}</a>
            {{ end }}
        </li>
        {{ end }}
        {{ end }}
    </ul>
</section>

{{ end }}
